<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Vue TODO</title>
		<link rel="stylesheet" href="bootstrap.css" />
		<link rel="stylesheet" href="css.css" />
	</head>
	<body>
		<div id="app">
			<div class="container">
				<h1>Vue TODO</h1>
				<div>
					<task-form :task="newTask" :on-submit="newTask_submit"></task-form>
				</div>
				<hr />
				<div class="taskListOperator">
					<button v-on:click="delete_click" class="btn btn-default">Delete finished tasks</button>
				</div>
				<div class="list-group">
					<task-item v-for="task in tasks" :task="task"></task-item>
					<p v-show="tasks.length < 1" class="text-muted">No tasks. Yay!</p>
				</div>
			</div>
		</div>

		<script id="template-task-form" type="text/x-template">
			<form v-on:submit.prevent="form_submit">
				<div class="input-group">
					<input v-model="task.name" class="form-control" type="text" placeholder="Buy milk 2L">
					<span class="input-group-btn">
						<button class="btn btn-primary">Add new task</button>
					</span>
				</div>
			</form>
		</script>

		<script id="template-task-item" type="text/x-template">
			<label class="list-group-item">
				<span v-on:click.prevent="edit_click" class="pull-right btn btn-link">Edit</span>
				<input v-model="task.finished" type="checkbox">
				{{task.name}}
			</label>
		</script>

		<script src="vue.js"></script>
		<script src="vuex.js"></script>
		<script src="js.js"></script>
	</body>
</html>
